#
# GLOBAL palette definition loaded during initialization.
# This should be used in widget definition. You can add your own styles.
#
# style name;           style1;         style2;          style3;
#

# Defaults:
# Progress bar
progress normal;        white;          dark gray;       standout
progress complete;      white;          dark green
bg background;          light gray;     dark gray
bg 1;                   dark gray;      dark green;      standout
bg 1 smooth;            dark green;     dark gray;
bg 2;                   dark gray;      dark blue;       standout
bg 2 smooth;            light blue;     dark gray;