#S
# GLOBAL palette definition loaded during initialization.
# This should be used in widget definition. You can add your own styles.
#
# style name;           style1;     style2;         style3;
#

# Defaults:
# Progress bar
progress normal;        white;      dark gray;       standout
progress complete;      white;      dark green